<div class="file-list-component">
    <div class="file-results">
        <div *ngIf="filteredFiles.length === 0">
            <div class="no-results">
                <h2>No Results! :(</h2>
            </div>
            <div class="results-summary">
                <span>{{ files.length }} filtered.</span>
                <span *ngIf="searchRequest.count > files.length">Click below to expand your search further!</span>
            </div>
        </div>
        <div *ngIf="filteredFiles.length > 0">
            <div class="results-summary">
                <span>Showing {{ filteredFiles.length }} of {{ searchRequest.count }} ({{ files.length - filteredFiles.length }} filtered)</span>
            </div>
            <div class="file" *ngFor="let file of filteredFiles">
                <file [file]="file"></file>
            </div>
        </div>
    </div>

    <div class="more-results-container" *ngIf="searchRequest.count > files.length">
        <a href="javascript:;" class="more-results" (click)="requestNextPage()">Load more</a>
    <div>
</div>